.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-width: 220px;
  align-items: center;
  width: fit-content;
}

.form > * {
  margin-bottom: 10px;
}

.linkedinButton {
  height: 40px;
  width: 220px;
}
