.inner {
  text-align: center;
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 30px;
    font-family: 'Avenir', 'Franklin Gothic', Arial, sans-serif;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.error {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #e04f5f;
  padding-bottom: 10px;
}

.success {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #2cad5b;
  padding-bottom: 10px;
}

.page-heading {
  font-size: 40px;
}