/* This is the generated class for the whiteboard */
.c-jOyZnp {
  /* height: 80vh;
  width: 76%;
  margin: auto 1.5%;
  border: 1px solid black; */
  height: 80vh;
  width: 78%;
  margin-left: 18%;
  padding: 20px;
  overflow: hidden;
  left: 0;
}



.options {
  position: absolute;
  right: 30px; bottom: 20px;
}

.cards {
  padding: 20px;
  display:flex;
  flex-direction: row;
}

.card {
  margin: 10px;
  margin-top:0px;
}

.card:hover {
  box-shadow: 5px 5px 5px #b0b0b0;
}