.page {
  margin: 20px;
}

#signin {
  margin: 20px;
  padding: 80px;
  padding-top: 40px;
  text-align: center;
  font-family: "Avenir", "sans-serif";
}

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/AvenirLTStd-Roman.otf);
} 